/*****************************************************************************/
/* MainGraph: Style */
/*****************************************************************************/
.hover-value {
  background-color: $mite;
  border: 1px solid rgba($mouse, 0.4);
  padding: 5px 10px;
  border-radius: 5px;
  position: absolute;
  transform: translate(-110%, -120%);
  pointer-events: none;
  font-size: 25px;
  z-index: 2;
  box-shadow: 0 1px 2px rgba($mouse, 0.4);

  &[data-name="business"] {
    &[data-polarity="1"] {
      color: $grass;
    }
    &[data-polarity="0"] {
      color: $salmon;
    }
  }
  &[data-name="personal"] {
    &[data-polarity="1"] {
      color: $teal;
    }
    &[data-polarity="0"] {
      color: $pink;
    }
  }
}

.graph {
  height: 100%;
  overflow: hidden;
  overflow-x: scroll; 
  padding: 0 18px;
  box-sizing: border-box;
  position: relative;

  .graph-title {
    font-size: 50px;
    font-weight: 600;
    position: absolute;
    transform: translate(100px, 20px);
    left: 0;
    z-index: 0;
    color: rgba($mouse, 0.4);
    text-transform: capitalize; 
  }
  svg {
    position: relative;
    z-index: 1;
  }
  &.business {
    [data-polarity="1"] rect {
      fill: $grass;
    }
    [data-polarity="0"] rect {
      fill: $salmon;
    }
  }
  &.personal {
    [data-polarity="1"] rect {
      fill: $teal;
    }
    [data-polarity="0"] rect {
      fill: $pink;
    }
  }
}

svg {
  rect, line {
    shape-rendering: crispEdges;
  }
  text {
    fill: $rabbit;
  }
  line {
    stroke: rgba($mouse, 0.2);
  }
  .tick text {
    font-size: 12px;
    position: relative;
  }
}